{% extends 'base.html.twig' %}

{% block title %}New ShowTour{% endblock %}

{% block body %}
    <h1>Create new ShowTour</h1>

    {{ include('show_tour/_form.html.twig') }}

    <a href="{{ path('show_tour_index') }}">back to list</a>
{% endblock %}
