{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">E-mail</th>
            <th scope="col">Nom</th>
            <th scope="col">Contenu</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
        <tr>
            <th scope="row">{{ message.email }}</th>
            <td>{{ message.name }}</td>
            <td>{{ message.content }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}

