{% extends 'base.html.twig' %}

{% block title %}Edit AnimalsCategory{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier</h1>
    {{ include('animals_category/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('categoryAnimal_index') }}">Retour à la liste</a>
</div>
{% endblock %}
