{% extends 'base.html.twig' %}

{% block title %}New SpectacleCategory{% endblock %}

{% block body %}
    <h1>Create new SpectacleCategory</h1>

    {{ include('spectacle_category/_form.html.twig') }}

    <a href="{{ path('categorySpectacle_index') }}">back to list</a>
{% endblock %}
