{% extends 'base.html.twig' %}

{% block title %}New Animals{% endblock %}

{% block body %}
    <h1>Create new Animals</h1>

    {{ include('animals/_form.html.twig') }}

    <a href="{{ path('admin_animals') }}">back to list</a>
{% endblock %}
