{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <img src="{{ asset('/uploads/images/' ~ animal.image) }}">
        </div>
        <br class="row">
        <div class="col-12">
            Nom de l'animal : {{ animal.name }}
        </div>
        <div class="col-12">
            Description : {{ animal.description }}
        </div>
        <ul class="list-group list-group-horizontal">
            {% if animal.spectacles is not empty %}
                <li class="list-group-item">Les spectacles</li>
                {% for spectacleAnimal in animal.spectacles %}
                    <li class="list-group-item">{{ spectacleAnimal.name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

